<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">New Task</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          formControlName="title"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
        />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
          <div *ngIf="f.title.errors.email">
            Title must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <strong>Description</strong>
        <textarea
          type="text"
          formControlName="description"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col dx-field">
          <label>Due Date</label>
          <!-- <div class="dx-field-value"> -->
          <dx-date-box
            applyValueMode="useButtons"
            [(value)]="now"
            [min]="now"
            type="date"
          >
          </dx-date-box>
          <!-- </div> -->
        </div>
        <div class="form-group col">
          <strong>piortity</strong>
          <select formControlName="piortity" class="form-control">
            <option
              *ngFor="let item of piortityes; let i = index"
              [selected]="i === 0"
              (onClick)="selectPiortity(item)"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary col-12 col-lg-12 col-sm-12 col-md-12">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
